SL_Solution/Harkkaprojekti/Service References/ServiceReference1/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9001/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service_Solution.DTO_Models" />
  <xs:import schemaLocation="http://localhost:9001/?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="FetchUpcomingEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchUpcomingEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service_Solution.DTO_Models" minOccurs="0" name="FetchUpcomingEventsResult" nillable="true" type="q1:ArrayOfUpcomingEventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchUpcomingEventsShort">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchUpcomingEventsShortResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service_Solution.DTO_Models" minOccurs="0" name="FetchUpcomingEventsShortResult" nillable="true" type="q2:ArrayOfUpcomingEventShortDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientAccessPolicy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientAccessPolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="GetClientAccessPolicyResult" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>