WCF_Solution/ConsoleTest/Service References/DB_Service_Reference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Service_Solution" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service_Solution" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9001/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfEventDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventDTO" nillable="true" type="tns:EventDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventDTO" nillable="true" type="tns:ArrayOfEventDTO" />
  <xs:complexType name="EventDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventId" type="ser:guid" />
      <xs:element minOccurs="0" name="TypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventDTO" nillable="true" type="tns:EventDTO" />
</xs:schema>