WCF_Solution/ConsoleTest/Service References/ServiceSolutionRef/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DB_Solution" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DB_Solution" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTestitaulu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Testitaulu" nillable="true" type="tns:Testitaulu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestitaulu" nillable="true" type="tns:ArrayOfTestitaulu" />
  <xs:complexType name="Testitaulu">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nimi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Testitaulu" nillable="true" type="tns:Testitaulu" />
</xs:schema>