WCF_Solution/ConsoleTest/Service References/ServiceSolutionRef/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DB_Solution" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DB_Solution" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9001/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvent" nillable="true" type="tns:ArrayOfEvent" />
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attendees" nillable="true" type="tns:ArrayOfAttendees" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventId" type="ser:guid" />
      <xs:element minOccurs="0" name="EventType" nillable="true" type="tns:EventType" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:complexType name="ArrayOfAttendees">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attendees" nillable="true" type="tns:Attendees" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttendees" nillable="true" type="tns:ArrayOfAttendees" />
  <xs:complexType name="Attendees">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttendeeStatus" nillable="true" type="tns:AttendeeStatus" />
      <xs:element minOccurs="0" name="AttendeeStatusId" type="xs:int" />
      <xs:element minOccurs="0" name="Event" nillable="true" type="tns:Event" />
      <xs:element minOccurs="0" name="EventId" type="ser:guid" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attendees" nillable="true" type="tns:Attendees" />
  <xs:complexType name="AttendeeStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attendees" nillable="true" type="tns:ArrayOfAttendees" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttendeeStatus" nillable="true" type="tns:AttendeeStatus" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attendees" nillable="true" type="tns:ArrayOfAttendees" />
      <xs:element minOccurs="0" name="GroupMembers" nillable="true" type="tns:ArrayOfGroupMembers" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfGroupMembers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupMembers" nillable="true" type="tns:GroupMembers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupMembers" nillable="true" type="tns:ArrayOfGroupMembers" />
  <xs:complexType name="GroupMembers">
    <xs:sequence>
      <xs:element minOccurs="0" name="Group" nillable="true" type="tns:Group" />
      <xs:element minOccurs="0" name="GroupId" type="ser:guid" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupMembers" nillable="true" type="tns:GroupMembers" />
  <xs:complexType name="Group">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupId" type="ser:guid" />
      <xs:element minOccurs="0" name="GroupMembers" nillable="true" type="tns:ArrayOfGroupMembers" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Group" nillable="true" type="tns:Group" />
  <xs:complexType name="EventType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Events" nillable="true" type="tns:ArrayOfEvent" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventType" nillable="true" type="tns:EventType" />
  <xs:complexType name="ArrayOfTestitaulu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Testitaulu" nillable="true" type="tns:Testitaulu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestitaulu" nillable="true" type="tns:ArrayOfTestitaulu" />
  <xs:complexType name="Testitaulu">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nimi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Testitaulu" nillable="true" type="tns:Testitaulu" />
</xs:schema>