BasCal_SilverlightClient/BasCal_SilverlightClient/Service References/ServiceReference1/DBservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DBservice" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDBservice_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9007/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9007/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9007/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BasCal_WCF_Host.DTO_Models" />
      <xsd:import schemaLocation="http://localhost:9007/?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDBservice_FetchEventByGuid_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchEventByGuid" />
  </wsdl:message>
  <wsdl:message name="IDBservice_FetchEventByGuid_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchEventByGuidResponse" />
  </wsdl:message>
  <wsdl:message name="IDBservice_FetchUpcomingEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchUpcomingEvents" />
  </wsdl:message>
  <wsdl:message name="IDBservice_FetchUpcomingEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchUpcomingEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IDBservice_FetchUpcomingEventsShort_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchUpcomingEventsShort" />
  </wsdl:message>
  <wsdl:message name="IDBservice_FetchUpcomingEventsShort_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchUpcomingEventsShortResponse" />
  </wsdl:message>
  <wsdl:message name="IDBservice_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IDBservice_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IClientAccessPolicy_GetClientAccessPolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientAccessPolicy" />
  </wsdl:message>
  <wsdl:message name="IClientAccessPolicy_GetClientAccessPolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientAccessPolicyResponse" />
  </wsdl:message>
  <wsdl:portType name="IDBservice">
    <wsdl:operation name="FetchEventByGuid">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBservice/FetchEventByGuid" message="tns:IDBservice_FetchEventByGuid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBservice/FetchEventByGuidResponse" message="tns:IDBservice_FetchEventByGuid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchUpcomingEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBservice/FetchUpcomingEvents" message="tns:IDBservice_FetchUpcomingEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBservice/FetchUpcomingEventsResponse" message="tns:IDBservice_FetchUpcomingEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchUpcomingEventsShort">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBservice/FetchUpcomingEventsShort" message="tns:IDBservice_FetchUpcomingEventsShort_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBservice/FetchUpcomingEventsShortResponse" message="tns:IDBservice_FetchUpcomingEventsShort_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBservice/Add" message="tns:IDBservice_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBservice/AddResponse" message="tns:IDBservice_Add_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IClientAccessPolicy">
    <wsdl:operation name="GetClientAccessPolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientAccessPolicy/GetClientAccessPolicy" message="tns:IClientAccessPolicy_GetClientAccessPolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientAccessPolicy/GetClientAccessPolicyResponse" message="tns:IClientAccessPolicy_GetClientAccessPolicy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDBservice" type="tns:IDBservice">
    <wsp:PolicyReference URI="#NetTcpBinding_IDBservice_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="FetchEventByGuid">
      <soap12:operation soapAction="http://tempuri.org/IDBservice/FetchEventByGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchUpcomingEvents">
      <soap12:operation soapAction="http://tempuri.org/IDBservice/FetchUpcomingEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchUpcomingEventsShort">
      <soap12:operation soapAction="http://tempuri.org/IDBservice/FetchUpcomingEventsShort" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/IDBservice/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IDBservice" type="tns:IDBservice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchEventByGuid">
      <soap:operation soapAction="http://tempuri.org/IDBservice/FetchEventByGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchUpcomingEvents">
      <soap:operation soapAction="http://tempuri.org/IDBservice/FetchUpcomingEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchUpcomingEventsShort">
      <soap:operation soapAction="http://tempuri.org/IDBservice/FetchUpcomingEventsShort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IDBservice/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBservice">
    <wsdl:port name="NetTcpBinding_IDBservice" binding="tns:NetTcpBinding_IDBservice">
      <soap12:address location="net.tcp://localhost:9006/BasCal" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9006/BasCal</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>einarinau@basware.com</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IDBservice" binding="tns:BasicHttpBinding_IDBservice">
      <soap:address location="http://localhost:9007/BasCal" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>