BasCal_SilverlightClient/BasCal_SilverlightClient/Service References/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9007/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:9007/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BasCal_WCF_Host.DTO_Models" />
  <xs:import schemaLocation="http://localhost:9007/?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="FetchEventByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchEventByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BasCal_WCF_Host.DTO_Models" minOccurs="0" name="FetchEventByGuidResult" nillable="true" type="q2:UpcomingEventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchUpcomingEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchUpcomingEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BasCal_WCF_Host.DTO_Models" minOccurs="0" name="FetchUpcomingEventsResult" nillable="true" type="q3:ArrayOfUpcomingEventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchUpcomingEventsShort">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchUpcomingEventsShortResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BasCal_WCF_Host.DTO_Models" minOccurs="0" name="FetchUpcomingEventsShortResult" nillable="true" type="q4:ArrayOfUpcomingEventShortDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientAccessPolicy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientAccessPolicyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/Message" name="GetClientAccessPolicyResult" type="q5:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>